{% extends "startpage/base.html" %}
{% block content %}
<form method="POST" action="auswertung/">
    <body>
    <div class="container">
        <div class="page-header">
            <h1>CSV</h1>
            <div class="container">
                <div class="row">
                    <div class="col ">
                        <div >
                            <div class="col">
                                <!--
                                <div class="dropdown">
                                    <form method="POST"> {%csrf_token%}
                                        <select id="org" name="parameter_list">
                                            <option value="" selected="selected">---SELECT Vergleichsparameter---
                                            </option>
                                            {% for vglparameter in parameter %}
                                            <option name="DropDown" value="{{vglparameter}}">
                                                {{vglparameter}}
                                            </option>
                                            {% endfor %}
                                        </select>
                                    </form>
                                    -->
                            </div>

                            <div class="col-md">
                                <div class="col">
                                    <h4>Table:</h4>
                                    <!--
                                    <div class="row">
                                        <table id='tb1' style="width:100%; border-collapse: collapse;"
                                               class="table-bordered">
                                            <tbody id='tb' class="table-striped">
                                            {%for data in value%}
                                            <tr>
                                                {% for x in data %}
                                                <td>{{ x }}</td>
                                                {% endfor %}
                                            </tr>
                                            {%endfor%}
                                            </tbody>
                                        </table>
                                    </div>

                                </div>-->
                                <div class="row">
                                    {% autoescape off %}
                                        {{tableplot}}
                                    {% endautoescape %}
                                </div>
                                <div class="row">
                                    <a href="{% url 'csv-auswertung' value=pk %}">Auswertung</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </body>
    {% endblock content %}
