{% extends "startpage/base.html" %}
{% block content %}
  <body>

    <div class="container-fluid">
      <div class="page-header">
        <h1>Medical Data Broker</h1>
      </div>

      <div class="jumbotron jumbotron-fluid">
        <p>
          Medizinische Daten werden in der Arbeitswelt auf sehr spezifische Art und Weise gespeichert.
          Über den Medical Data Broker kann man diese Daten herunterladen.
          Auf der Seite können SchülerInnen mit den Daten arbeiten.

         </p>
        <!--
        <div class="btn-group">
          <a href="https://physionet.org/" class="btn btn-link btn-sm" role="button">EKG Daten</a>

            <input type="button" value="EKG Daten" data-toggle="button"   href= "#ekgFromStart" class="btn btn-info btn-lg">

          <input type="button" value="EKG Daten" href="#ekgFromStart" class="btn btn-info btn-lg">
          <button type="submit" class="btn btn-link btn-sm" role="button">DICOM </button>
          <input type="button"  value="DICOM" data-toggle="button" href="{% url 'ekgFromStart' %}" class="btn btn-info btn-lg">

          <input type="button" value="CSV" data-toggle="button" class="btn btn-info btn-lg">
          <button type="submit" class="btn btn-link btn-sm" role="button">Link</button>-->
        </div>

        <a href="https://physionet.org/">Phyisionet --> EKG Quelle</a>
      </div>
    </div>

  </body>
{% endblock content %}