{% extends "startpage/base.html" %}
{% block content %}
<body>
<div class="container">


      <div class="page-header">
        <h1>DICOM</h1>
          <div class="container">
            <div class="row">
              <div class="col col-lg" >
                  <div class="content-section">
                      <h4>Informationen</h4>
                      <div class="col">
                          {% for study in studies %}
                            <h1>{{study.serie}}</h1>
                                <p> Von {{study.patient}}, Bild: {{study.picture}}</p>
                                <p> {{study.content}}</p>
                          {% endfor %}
                      </div>
                  </div>
              </div>
                <div class="col-md">
                  <div class="col" >
                    <h4>DICOM</h4>
                      <div class="row">
                          <p>Image: <img src="{% url 'dicom_to_png' %}"></p>
                          <!--{%for pic in pictures%}
                          {% endfor %}
                      </div>
                  </div>
                    <div class="col">
                        {% for meddataset in meddatasets %}
                        <div>
                            <h2><a href="{% url 'meddataset_detail' pk=meddataset.pk %}">{{ meddataset.title }}</a></h2>
                            <p><small>Description:  {{ meddataset.description }}</small></p>
                            <p>Size: {{ meddataset.datasize }}</p>
                        </div>
                        {% endfor %}-->
                    </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>
</body>
{% endblock content %}