{% extends "startpage/base.html" %}
{% block content %}

{% load staticfiles %}
<form method="POST" action="comparison/">
    {% csrf_token %}
    <h1>DICOM</h1>
    <div class="container">
        <div class="row">
            <div class="col col-lg">
                <div class="content-section">
                    <h4>Informationen</h4>
                    <div class="col">
                        {% for f in list %}
                        <h1>Filename: {{f.filename}}</h1>
                        <p>Storage type.....: {{f.storagetype}}</p>
                        <p>Patient's name...: {{f.patientdisplayname}}</p>
                        <p>Patient id.......: {{f.patientid}}</p>
                        <p>Modality.........: {{f.modality}}</p>
                        <p>Study Date.......: {{f.studydate}}</p>
                        <p>Resolution.......: {{f.rows}} x {{f.cols}}</p>
                        <p>Image size.......: {{f.size}}</p>
                        <p>Pixel spacing....: {{f.pixelspacing}}</p>
                        <p>Slice location...: {{f.slicelocation}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md">

                <style>

                    {
                        box-sizing: border-box
                    ;
                    }

                    .img-zoom-container {
                        position: relative;
                    }

                    .img-zoom-lens {
                        position: absolute;
                        border: 1px solid #d4d4d4;
                        /*set the size of the lens:*/
                        width: 40px;
                        height: 40px;
                    }

                    .img-zoom-result {
                        border: 1px solid #d4d4d4;
                        /*set the size of the result div:*/
                        width: 300px;
                        height: 300px;
                    }

                    .slider {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 15px;
                        border-radius: 5px;
                        background: #d3d3d3;
                        outline: none;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }

                    .slider::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: #b52b40;
                        cursor: pointer;
                    }

                    .slider::-moz-range-thumb {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: #4CAF50;
                        cursor: pointer;
                    }

                    .range {
                        -webkit-appearance: none;
                        width: 100%;
                        height: 15px;
                        border-radius: 5px;
                        background: #d3d3d3;
                        outline: none;
                        -webkit-transition: .2s;
                        transition: opacity .2s;
                    }

                    .range::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        appearance: none;
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: #b52b40;
                        cursor: pointer;
                    }

                    .range::-moz-range-thumb {
                        width: 25px;
                        height: 25px;
                        border-radius: 50%;
                        background: #4CAF50;
                        cursor: pointer;
                    }

                    #img1 {
                        filter: grayscale(100%);
                    }

                </style>


                {% for i in list_img %}
                <body onload="load();">
                <!--<span>Fired event:</span> <b><span id="label1">""</span></b><br/><br/>-->
                <div width="500px" class="contrast">
                    <div class="slidecontainer">
                        <label>Kontrast:</label>
                        <p>Value: <span id="kontrastText"></span></p>
                        <input type="range" min="50" max="1000" value="50" class="slider" id="sliderContrast">
                    </div>
                    <div class="slidecontainer">
                        <label>Helligkeit:</label>
                        <p>Value: <span id="BrightnessText"></span></p>
                        <input type="range" min="0" max="200" value="100" class="range" id="sliderHelligkeit">
                    </div>
                    <div class="contrastWrap">
                        <div class="brightnessWrap">
                            <div class="greyscaleWrap">
                                <img class="image" id="img1" src="{{i.image}}" style="width: 700px;"
                                     filter="url(contrast)">
                            </div>
                        </div>
                    </div>
                </div>
                <script>
                    var image = document.querySelector('.image');

                    var contrast = document.querySelector('.contrastWrap');
                    var brightness = document.querySelector('.brightnessWrap');

                    /*
                    var slider = document.querySelector('.slider');
                    var range = document.querySelector('.range');
                    */

                    var konSlider = document.getElementById("sliderContrast");
                    var helSlider = document.getElementById("sliderHelligkeit");

                    var konTextoutput = document.getElementById("kontrastText");
                    var BrightnessTextoutput = document.getElementById("BrightnessText");

                    image.style.filter = "grayscale(100%)";
                    konTextoutput.innerHTML = konSlider.value + "%";
                    BrightnessTextoutput.innerHTML = helSlider.value + "%";

                    konSlider.oninput = function () {
                        konTextoutput.innerHTML = this.value + "%";
                        contrast.style.filter = "contrast(" + this.value + "%)";
                    }

                    helSlider.oninput = function () {
                        BrightnessTextoutput.innerHTML = this.value + "%";
                        brightness.style.filter = "brightness(" + this.value + "%)";
                    }

                    /*
                    slider.addEventListener('change', function (e) {
                        contrast.style.filter = "contrast(" + e.target.value + "%" + ")";
                    });
                    range.addEventListener('change', function (f) {
                        brightness.style.filter = "brightness("+ f.target.value + "%" + ")";
                    });
                     */


                </script>


                </body>

                <script src='{% static "js/wheelzoom.js" %}' type="text/javascript"></script>
                <script>
                    function load() {
                        var zoomIn = -100;
                        var zoomOut = 100;

                        images = wheelzoom(document.querySelectorAll('img'), {zoom: 0.1, maxZoom: 10});

                        images[0].addEventListener('wheelzoom.in', function (e) {
                            document.getElementById('label1').innerHTML = '"wheelzoom.in"';
                        });
                        images[0].addEventListener('wheelzoom.out', function (e) {
                            document.getElementById('label1').innerHTML = '"wheelzoom.out"';
                        });
                        images[0].addEventListener('wheelzoom.dragstart', function (e) {
                            document.getElementById('label1').innerHTML = '"wheelzoom.dragstart"';
                        });
                        images[0].addEventListener('wheelzoom.drag', function (e) {
                            document.getElementById('label1').innerHTML = '"wheelzoom.drag"';
                        });
                        images[0].addEventListener('wheelzoom.dragend', function (e) {
                            document.getElementById('label1').innerHTML = '"wheelzoom.dragend"';
                        });

                        images[1].addEventListener('wheelzoom.in', function (e) {
                            images[2].doZoomIn();
                        });
                        images[1].addEventListener('wheelzoom.out', function (e) {
                            images[2].doZoomOut();
                        });
                        images[1].addEventListener('wheelzoom.drag', function (e) {
                            images[2].doDrag(e.detail.bgPosX, e.detail.bgPosY);
                        });

                        images[2].addEventListener('wheelzoom.in', function (e) {
                            images[1].doZoomIn();
                        });
                        images[2].addEventListener('wheelzoom.out', function (e) {
                            images[1].doZoomOut();
                        });
                        images[2].addEventListener('wheelzoom.drag', function (e) {
                            images[1].doDrag(e.detail.bgPosX, e.detail.bgPosY);
                        });

                        images[3].addEventListener('wheelzoom.in', function (e) {
                            images[4].doZoomIn();
                        });
                        images[3].addEventListener('wheelzoom.out', function (e) {
                            images[4].doZoomOut();
                        });
                        images[3].addEventListener('wheelzoom.dragend', function (e) {
                            images[4].doDrag(e.detail.x, e.detail.y);
                        });

                        images[4].addEventListener('wheelzoom.in', function (e) {
                            images[3].doZoomIn();
                        });
                        images[4].addEventListener('wheelzoom.out', function (e) {
                            images[3].doZoomOut();
                        });
                        images[4].addEventListener('wheelzoom.dragend', function (e) {
                            images[3].doDrag(e.detail.x, e.detail.y);
                        });
                    }
                </script>
                {%endfor%}
            </div>
        </div>
    </div>
    </div>

    <div class="row">
        <h6>Image Download:</h6>
        <ul>
            <li><a href="{% url 'dicom_download' format='png' value=f.filename %}">PNG </a></li>
        </ul>
    </div>
    {% endfor %}


        <div class="row">
            <h4>Compare this file:</h4>
            <p>Input the name of the file you want to compare this file to below.&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br/>
                Press the button to start the comparison
            </p>

        </div>
        <div class="row">
            <p>Available files:</p>
        </div>
        <div class="row">
            <div class="form-group" id="auswahl_select">
                <div class="panel-body">
                    <style>
                        .form-group {
                            height: 200px;
                            width: 200px;
                        }

                        .form-control {
                            height: 200px;
                            width: 200px;
                        }
                    </style>
                    <div class="box">
                        <select multiple class="form-control" disabled>
                            {% for dL in dataLists %}
                            <option>{{dL.d_uuid}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
    <div class="row">
        <input type="text" name="textfield" required>
        <button type="submit">start comparison</button>
    </div>
</form>

{% endblock content %}