{% extends "startpage/base.html" %}
<!--
<body>
    <div class="container">
      <div class="page-header">
        <h1>EKG</h1>
          <div class="container">
            <div class="row">
              <div class="col col-lg" >
                  <div class="content-section">
                      <h4>Informationen</h4>
                      <div class="col">
                          <label for="customRange1">Herzfrequenz</label>
                          <textarea>0</textarea>
                          <input type="range" class="custom-range" id="customRange1">
                      </div>
                  </div>
              </div>
                <div class="col-md">
                  <div class="col" >
                    <h4>EKG- Signal</h4>
                      <div class="row">
                          {% for f in list %}
                            <p>Image: <img src="{% url 'ekg-to-png' pk=f.recordname %}"></p>
                          {% endfor %}
                      </div>
                  </div>
              </div>
            </div>
            </div>
          </div>
      </div>
    </div>

</body>-->


{% block content %}
<form method="POST" action="comparison/">
{% csrf_token %}
    {% for f in list %}
    <div class="row">
        <h3>EKG Signal:  </h3>
        <h3>{{f.recordname}}</h3>
    </div>
    <div class="row">
        <h6>Datum: </h6>
        <h6>{{f.datum}}</h6>
    </div>
    <div class="row">
        <h6>Uhrzeit: </h6>
        <h6>{{f.uhrzeit}}</h6>
    </div>
    <div class="row">
        <h6>Samplerate: </h6>
        <h6>{{f.samplerate}}</h6>
    </div>
    <div class="row">
        <h6>ADC-Gain: </h6>
        <h6>{{f.adcgain}}</h6>
    </div>
    <div class="row">
        <h6>Comments: </h6>
        <h6>{{f.comments}}</h6>
    </div>
    {% endfor %}
    <div class="row">

        {% autoescape off %}
        {{plot_div}}
        {% endautoescape %}
    </div>
    <div class="row">
        <input type="text" name="textfield">
        <button type="submit">start comparison</button>
    </div>
</form>
{% endblock content %}