{% extends "startpage/base.html" %}
{% block content %}
<body>
<!--
    {% for dL in dataLists %}
        <h1>{{dL.serie}}</h1>
        <p> Von {{dL.patient}}, Bild: {{dL.picture}}</p>
        <p> {{dL.content}}</p>
    {% endfor %}
-->
    <div class="jumbotron jumbotron-fluid" type="content">
        <h4 class="mx-auto">EKG- Einträge</h4>
        {% for dL in dataLists %}
        <hr class="my-4">
        <h1 class="display-4">{{dL.e_uuid}}</h1>
        <a href="{% url 'ekg-detail' value=dL.e_uuid %}">detail Ansicht</a>
        {% endfor %}
    </div>
<!--ekg start einträge-->
</body>
{% endblock content %}
