{% extends "startpage/base.html" %}
{% block content %}
<body>
<!--
    {% for dL in dataLists %}
        <h1>{{dL.serie}}</h1>
        <p> Von {{dL.patient}}, Bild: {{dL.picture}}</p>
        <p> {{dL.content}}</p>
    {% endfor %}
-->
<div class="jumbotron jumbotron-fluid" type="content">
    <h4 class="mx-auto">EKG- Einträge</h4>
    <ul>
        {% for dL in dataLists %}
        <hr class="my-4">
        <a href="{% url 'ekg-detail' value=dL.e_uuid %}" class="display-4">EKG {{dL.e_recordName}}</a>
        <p>From {{dL.e_ppDir}}</p>
        {% endfor %}
    </ul>
</div>
<!--ekg start einträge-->
</body>
{% endblock content %}
